<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <form method="POST" action="/new">
        <h1>Add a new message</h1>
        
        <label for="user">Name:</label>
        <input type="text" id="user" name="user" required>
        
        <br>
        
        <label for="text">Your Message:</label>
        <input type="text" id="text" name="text" required>
        
        <br>
        <button type="submit">Submit</button>
        <li><a href="/">go back</a></li>
    </form>
    
</body>
</html>